    :root {
        --color: whitesmoke;
        --body-background: #111;
        --content-background: #111;
        --link-color: #13b8eb;
        --row-modifier: white;
        --branding-background: #0b0;
        --branding-color: #fff;
    }

#user-totals, #user-totals-small {
	text-align: center;
}

.btn {
  background-color: #03712b; /* Green */
  border: none;
  color: white !important;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.about-img{max-width: 100%;}

#user-totals {font-size: x-large;}

.a11y-helper {
						position: fixed;
						top: 1rem;
						left: -999em;
						z-index: 11;
						-moz-appearance: none;
						-webkit-appearance: none;
						background-color: transparent;
						border: 1px solid black;
						border-radius: 0.6rem;
						box-sizing: border-box;
						color: inherit;
						font-family: inherit;
						font-size: inherit;
						font-weight: inherit;
						line-height: inherit;
						max-width: 100%;
						display: inline-block;
						margin: 0;
						padding: 0.3em 0.8em;
						font-weight: 500;
						text-decoration: none;
						border-radius: 3rem;
						white-space: nowrap;
						background-color: transparent;
						color: blue;
						border: 1px solid red;
						transition: background-color 150ms ease;
								
						&:focus {
							left: 1rem;
							background: white;
						  }
					}

@media (max-width: var(--collapse-table-width)) {
    .endtimes-table tr:has(th) {
        display: flex;
        gap: 1ch;
    }

    .endtimes-table tr:has(td) {
        display: flex;
        gap: 1ch;
    }
}

header, footer {
    text-align: center;
}

nav {
    text-align: center;
}

nav ul {
    text-align: center;
    padding: 0 !important;
}

nav li {
    list-style: none;
    float: left;
}

nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  background-color: #222;

}

nav li a:hover {
  background-color: #111;
    color: whitesmoke;
}

html {    background-color: var(--body-background);}

body {
    color: var(--color);
    margin-inline: auto;
    margin-block: 0;
    font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
    background-color: var(--body-background);
    min-width: 300px;
    max-width: 800px;
}

body > * {
    background: var(--content-background);
    padding: 2ch;
    line-height: 1.45;
}

header > * {
    margin-block: 0;
}

a {
    text-underline-offset: 0.2em;
}

body > header a {
    color: var(--branding-color);
}

main > header {
    background: none;
}

main > header p {
    margin-block: 0;
}

header p img {
    display: block;
    margin-inline: auto;
    border-radius: 1ch;
}

.endtimes-table {
    width: 100%;
}

.endtimes-table th {
    color: white;
    text-align: center;
    font-weight: bold;
    background: #222;
    padding: 1.1ch
}

.endtimes-table th a {
    color: var(--content-background);
}

.endtimes-table tr:has(td):nth-child(2n) {
    background: #1b1b1b;
}

.endtimes-table td {
    padding: 0.2ch;
}

.endtimes-table td a {
color: white;
}


.endtimes-table td a:hover {
color: lime;
}


.endtimes-table td.time {
    text-align: end;
}


.end-times-alert {
    background: #faffbe;
    padding: 1em;
    text-align: center;
    color: black;
       margin-top: 1ch;
    border-radius: 1ch;
}

.help-block {
    font-size: 80%;
    color: #666
}

.img-responsive {
    width: 100%;
    max-width: 260px !important;
}

.nav.nav-pills {
    display: flex;
    list-style-type: none;
    gap: 0;
    padding: 0;
    margin: 0;
    width: 100%;
}

.nav.nav-pills li {
    flex-grow: 2;
}

.nav.nav-pills li a {
    color: var(--color);
    margin: 0;
    padding: 0.5ch 1ch 0.5ch;
    display: block;
    text-decoration: none;
    border-style: solid;
    border-width: 0 0 1px 0;
}

.nav.nav-pills li.active a {
    border-width: 0 0 5px 0;
}

.h-card {
    margin-bottom: 5ch;
    border-radius: 1ch;
    margin-inline: auto;
    display: grid;
    gap: 1ch;
    background: #222;
      width: 90%;
  padding: 0.5ch 1ch 1.5ch;
  text-align: left;
    position: relative;
}

.edit-profile-link {
    position: absolute;
    right: 2ch;
    top: 2ch;
}

.h-card ul {
  list-style: none;
  padding-left: 0;
  line-height: 1.6;
}

a {
    color: var(--branding-background);
}

a:visited {
    color: color-mix(in srgb, var(--link-color), var(--body-background) 40%);
}

.h-card a {
    color: var(--branding-background);
}

.h-card > * {
    margin: 0;
}


header, footer {text-align: center;}
nav ul {text-align: center; padding: 0 !important;}
nav li {list-style: none;}

body {background-color: #aaa !important;}

.help-block {font-size: 80%; color: #666}

.img-responsive {width: 100%; max-width: 260px !important;}


.list-inline {display: inline; list-style: none;}

.mini-header {
    max-width: 500px;
}

/* Element | https://libre.fm/login.php */

.form-group input, .form-group textarea{
  width: 100%;
  font-size: x-large;
}

/* Element | https://libre.fm/login.php */

.form-group label {
  font-weight: bold;
  margin-bottom: 10px;
  display: block;
}

.list-inline {margin-top: 1em; margin-bottom: 1em; padding: 0;
  padding-bottom: 2ch;
  display: inline-table;
}

             

.list-inline li {display: inline;}

.text-center {text-align: center; text-wrap: balance;}

.btn-success {width: 100%; font-size: x-large; background: green; color: white; padding: 1ch;}

.center-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 90vh;
}

footer p, footer h3, header p, .elsewhere {
    text-wrap: balance;
}

.tagcloud {
    /* display: inline-table; */
    list-style: none;
    padding-left: 0;
}
.tagcloud li {
    display: inline-table;
}

#tops ul {
     columns: 3 auto;
}

#tops.logged-in ul {
    columns: 6 auto;
}

#tops.logged-in li {
    font-size: small;
}

span.shareable {display: none; float:right;}

@media only screen and (max-width: 768px) {
  /* For phones: */
  #tops ul {
     columns: 3 auto;
}

#tops.logged-in ul {
    columns: 3 auto;
}

th.time, td.time {
    display: none;
}

span.shareable {display: inline-table;}

    span.shareable a {color: cyan;}


    
}

@media only screen and (max-width: 500px) {
  /* For phones: */
  #tops ul {
     columns: 2 auto;
}

#tops.logged-in ul {
    columns: 2 auto;
}

th.time, td.time {
    display: none;
}

    span.shareable {display: inline-table;}
    span.shareable a {color: cyan;}

    
}
